@model List<Student>

@{ 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title="Get All Students";
} 

 <br />


@*<div class="d-flex justify-content-center">
    <div >
                <a asp-controller="Student" asp-action="AddStudent"  class="btn btn-warning w-25" >Add</a>                                

                <br />
                <br />
                <table class="table table-bordered table-hover">
             
                    <tr class="text-center">
                        <th class="text-black" >Student ID</th>
                        <th class="text-black" >Student Name</th>
                        <th class="text-black" >Student Image</th>
                        <th class="text-black" >Student Address</th>
                        <th class="text-black" >Student Department</th>
                        <th class="text-black" >Modify</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.ID</td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">
                                <img src="~/images/@item.Image" style="width:50px ;height:50px"/>
                            </td>
                            <td class="text-center">@item.Address</td>
                            <td class="text-center">@item.dept_id</td>
                            <td class="text-center">
                               <a asp-controller="Student" asp-action="EditStudent" asp-route-id="@item.ID" class="btn btn-warning ">Edit</a>                                

                                <a class="btn btn-danger ">Delete</a>                                
                            </td>

            
                        </tr>
                    }
                </table>
    </div>
</div>
*@

<div class="d-flex justify-content-center">
    <div >
        <a asp-controller="Student" asp-action="AddStudent"  class="btn btn-warning w-25" >Add</a>  
          <div class="contianer ">
            <div class="cards container  flex-lg-wrap justify-content-around align-content-around ">
                 @foreach (var item in Model)
                {
                        <partial name="_student_card" model=@item/>

                }
            </div>
        </div>

    </div>
</div>
